{% extends 'diary/base.html' %}

{% block content %}

<div class="container mt-5">
    {% if user.is_authenticated %}
        <h2 class="text-center">Записи моего дневника</h2>
        {% if object_list %}
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for diary in object_list %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">{{ diary.created_at|date:"Y-m-d H:i:s" }}</h4>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ diary.title }}</h5>
                                <p class="card-text">{{ diary.content|truncatewords_html:30 }}</p>
                                <p class="card-text"><small class="text-muted">Автор: {{ diary.user }}</small></p>

                                {% if user == diary.user %}
                                    <a href="{% url 'diary:diary_update' diary.pk %}" class="btn btn-primary btn-sm">Редактировать</a>
                                    <a href="{% url 'diary:diary_detail' diary.pk %}" class="btn btn-info btn-sm">Подробнее</a>
                                    <a href="#" class="btn btn-danger btn-sm">Удалить</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="alert alert-warning mt-4" role="alert">
                        Пока нет ни одной записи.
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-warning mt-4" role="alert">
                Записей пока нет.
            </div>
        {% endif %}
    {% else %}
        <div class="jumbotron jumbotron-fluid mt-5">
          <div class="container">
            <h1 class="display-4">Добро пожаловать!</h1>
            <p class="lead">Чтобы просмотреть записи, пожалуйста войдите в систему.</p>
            <a class="btn btn-primary btn-lg" href="{% url 'users:login' %}" role="button">Войти</a>
          </div>
        </div>
    {% endif %}
</div>

{% endblock %}
