{% extends 'diary/base.html' %}

{% block title %}Заметка | {{ object.name }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header">
                    <h1 class="card-title text-center">Информация о заметке</h1>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th scope="row">Название:</th>
                                <td>{{ object.title }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Описание:</th>
                                <td>{{ object.content }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Пользователь:</th>
                                <td>{{ object.user }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Дата создания:</th>
                                <td>{{ object.created_at|date:'Y-m-d H:i' }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <a href="{% url 'diary:diary_list' %}" class="btn btn-primary">Назад</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}